{{#if posts.length}}
<section>
    <div>
        <h2>Welcome, {{name}}!</h2>
    </div>
    {{#each posts as |post|}}
    <button type="button" class="btn btn-danger">Delete Post!</button>
    {{/each}}
</section>

<script src="../public/js/deletepost.js"></script>